*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Assets */

.container{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#carousel{
    position: relative;
}

#img-container{
    width: 800px;
    height: 350px;

    overflow: hidden; 

    border: 6px solid black;
}

#img-container img{
    width: 100%;
    height: 100%;

    object-fit:cover ;

    object-position: 50% 40%;
}

#upArrow{
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 1;
    
    transform: translate(-50%, 0);   
}

#downArrow{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
    
    transform: translate(-50%, 0);
}

.arrow{
    padding: 2px 6px;

    color: white;

    font-size: 1.2em;

    background-color: rgba(255, 255, 255, .3);

    border-radius: 50%;

    cursor: pointer;
}

.title{
    position: absolute;
    bottom: 70px;
    right:20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;

    color: white;
}

.text{
    position: absolute;
    bottom: 35px;
    right:20px;

    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;

    color: white;
}

#thumbnails-container{
    position: relative;

    display: flex;
    flex-direction: column-reverse;

    padding: 1px;

    width: 200px;
    height: 350px;

    background-color: black;

    border: 3px solid black;
}

.thumbnail{
    height: calc(100% / 5);

    object-fit: cover;

    opacity: 0.3;
}

.active{
    opacity: 1;

    border: 3px solid white;
}

.btns-container{
    position: absolute;
    top: 74%;
    left: 50%;

    transform: translate(-50%, 0);

    display: flex;
    gap: 10px;

    padding: 15px 50px;

    background-color: black;

    border-radius: 0 0 30px 30px;
}

.btn{
    padding: 10px 13px;

    border-radius: 50%;
    border-style: none;

    cursor: pointer;
}